html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
    width: 100%; 
}

.wrapper {
  width: 80%;
  margin: 0 auto; 
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.hat {
  height: 300px;
  width: 300px; 
  border: 2px solid black; 
  margin: 0 auto; 
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom: none;
}

.face {
  height: 160px;
  width: 255px;
  position: relative; 
  border-radius: 50%;
  border: 2px solid black; 
  background-color: #fde1ca;
  margin: 0 auto;
  margin-top: 25%;
}

.rightEye {
  height: 15px;
  width: 15px;
  position: absolute; 
  bottom: 55%;
  left: 25%; 
  border-radius: 50%;
  background-color: black;
}

.leftEye {
  height: 15px;
  width: 15px;
  position: absolute; 
  bottom: 55%;
  right: 25%; 
  border-radius: 50%;
  background-color: black;
}

.mouth {
  height: 50px;
  width: 70px;
  left: 37%;
  position: absolute;
  bottom: 30%;
  border-bottom: 4px solid #222;
  border-radius: 100%;
  border-top: none;
  border-left: none;
  border-right: none; 
}

.shirt {
  height: 400px;
  width: 300px;
  position: relative; 
  background-color: #0099cb;
  border: 2px solid black; 
  margin: 0 auto; 
}

.rightArmShirt {
  width: 50px;
  height: 200px;
  right: -45px;
  top: -2px;
  rotate: 160deg;
  position: absolute;
  background-color: #0099cb;
  border-bottom-left-radius: 22%;
  border: 2px solid black;
  border-bottom: none;
  border-right: none;
}

.rightArm {
  width: 50px;
  height: 215px;
  right: -115px;
  bottom: 0;
  rotate: 160deg;
  position: absolute;
  background-color: #fde1ca;
  border: 2px solid black;
}

.leftArmShirt {
  width: 50px;
  height: 200px;
  left: -46px;
  top: -1px;
  rotate: 200deg;
  position: absolute;
  background-color: #0099cb;
  border: 2px solid black;
  border-bottom: none;
  border-bottom-right-radius: 22%;
  border-left: none;
}

.leftArm {
  width: 50px;
  height: 215px;
  left: -115px;
  bottom: 0;
  rotate: 200deg;
  position: absolute;
  background-color: #fde1ca;
  border: 2px solid black;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-top: none;
}

.leftForearm {
  width: 50px;
  height: 215px;
  left: -196px;
  bottom: -15px;
  border-top-right-radius: 50px;
  rotate: 145deg;
  position: absolute;
  background-color: #fde1ca;
  border: 2px solid black;
  border-top-left-radius: 50%;
  border-top: none;
  border-bottom: none; 
}

.leftHand {
  width: 50px;
  height: 70px;
  bottom: -51px;  
  position: absolute;
  background-color: #fde1ca;
  border: 2px solid black;
  border-top: none; 
  left: -2px;
  border-bottom-left-radius: 50px;
}

.thumb {
  width: 20px;
  height: 42px;
  bottom: -29px;
  rotate: 135deg;
  left: 49px;
  border-radius: 50%; 
  border-bottom-right-radius: 0px;
  position: absolute;
  background-color: #fde1ca;
  border: 2px solid black;
  border-bottom: none;
}

.fingerOne {
  width: 18px;
  height: 37px;
  left: 51px;
  bottom: 4px;
  rotate: 70deg;
  border-top-left-radius: 40px;
  border-top-right-radius: 50px;
  position: absolute;
  background-color: #fde1ca;
  border: 2px solid black;
  border-bottom: none;
}

.fingerTwo {
  width: 18px;
  height: 48px;
  left: 48px;
  bottom: 16px;
  rotate: 65deg;
  border-top-left-radius: 40px;
  border-top-right-radius: 50px;
  z-index: 1;
  position: absolute;
  background-color: #fde1ca;
  border: 2px solid black;
  border-bottom: none;
}

.fingerThree {
  width: 20px;
  height: 62px;
  left: 45px;
  bottom: 31px;
  rotate: 59deg;
  border-top-left-radius: 40px;
  border-top-right-radius: 50px;
  border-right: none;
  position: absolute;
  background-color: #fde1ca;
  border: 2px solid black;
  border-bottom: none;
}

.pants {
  height: 125px;
  width: 300px;
  position: relative;
  background-color: #0066CB;
  border: 2px solid black; 
  margin: 0 auto; 
  border-top: none; 
}

.rightLegPant {
  width: 50px; 
  position: absolute;
  height: 125px;
  right: -2px;
  bottom: -102%;
  background-color: #0066CB;
  border: 2px solid black; 
  margin: 0 auto; 
  border-top: none; 
}

.rightLeg {
  width: 50px;
  position: absolute;
  height: 400px;
  right: -2px;
  bottom: -426%;
  background-color: #fde1ca;
  border: 2px solid black; 
  margin: 0 auto; 
  border-top: none; 
}

.leftLegPant {
  width: 50px;
  height: 125px; 
  position: absolute;
  left: -2px;
  bottom: -102%;
  background-color: #0066CB;
  border: 2px solid black; 
  margin: 0 auto; 
  border-top: none; 
}

.leftLeg {
  width: 50px;
  position: absolute;
  height: 400px;
  left: -2px;
  bottom: -426%;
  background-color: #fde1ca;
  border: 2px solid black; 
  margin: 0 auto; 
  border-top: none; 
}

.rightSock {
  width: 100px;
  height: 20px;
  background-color: #fff;
  border: 2px solid black; 
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  left: -25px;
}

.leftSock {
  width: 100px;
  height: 20px;
  background-color: #fff;
  border: 2px solid black; 
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  right: -25px;
}

.rightShoe {
  width: 170px;
  height: 65px;
  bottom: -67px;
  right: -118px;
  background-color: black;
  position: absolute;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 5px;
}

.leftShoe {
  width: 170px;
  height: 65px;
  bottom: -67px;
  left: -118px;
  background-color: black;
  position: absolute;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 5px;
}
